.companies {
  list-style: none;

  &__item {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-size: cover;
    }

    &--stomat {
      &:before {
        width: 25px;
        height: 24px;
        background: url("../img/main-header/logo1.png") no-repeat;
        background-size: cover;
      }
    }
    &--medcentr {
      &:before {
        width: 25px;
        height: 23px;
        background: url("../img/main-header/logo2.png") no-repeat;
        background-size: cover;
      }
    }
  }

  &__title {
    margin: 0;
    padding: 0 0 0 35px;
    vertical-align: top;
    color: @dark;
    .normal-font(14px);
    text-transform: uppercase;

    & span {
      display: block;
      padding: 0 0 15px 0;
      color: @company-color-light;
      .normal-font(10px; 12px; 700);
      text-transform: uppercase;
    }
  }
}
