.main-header {
  display: flex;
  flex-wrap: wrap;
  padding: 18px @wrapper-m 40px @wrapper-m;
  background: url("../img/main-header/lines.svg") no-repeat bottom;
  background-size: 1500px;

  &__content {
    max-width: @mobile-content-width;
    .center-margin();
  }
}
