.specialists {
  &__list {
    .list();
  }
}

.page__content.specialists {
  & .specialists {
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: @lg-width) {
        margin-bottom: 70px;
      }
    }
  }
}


