.privacy {
    &__link {
        .container();
        display: flex;
        justify-content: center;
    }
}

.checkbox-privacy {
    position: relative;
    padding-left: 26px;
    
    
    & input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
    }

    & input[type="checkbox"]::before {
        content: '';
        position: absolute;
        top: 4px;
        left: -26px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;           
    }

    & label {
        .text-small();
        position: relative;

        & a {
            text-decoration: underline;

            &:hover,
            &:focus {
                color: unset;
            }
        }

        
    }    
}

.main-consultation,
.send-resume {
    & .form {
        & .checkbox-privacy {
            opacity: 0.5;
    
            & input[type="checkbox"]::before {
                background-image: url("../img/privacy/check-white-empty.svg");
            }
    
            & input[type="checkbox"]:checked::before {
                background-image: url("../img/privacy/check-white.svg"); 
            }
        }
    }
}

.modal,
.consultation,
.request-callback {
    & .form {
        & .checkbox-privacy {
    
            & input[type="checkbox"]::before {
                background-image: url("../img/privacy/check-gray-empty.svg");
            }
    
            & input[type="checkbox"]:checked::before {
                background-image: url("../img/privacy/check-gray.svg"); 
            }
        }
    }
}