.main-nav {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "menu menu"
      "opening-hours callback"
      "search search"
      "visually-impaired visually-impaired";
    grid-gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    padding: 25px 15px;
    background: @light;
    transform: translateX(100vw);
    transition: top .3s .6s, transform .3s;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    &--opened {
      transform: translateX(0);
    }
  }

  &__toggle {
    .btn-reset();
    position: fixed;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7em;
    height: 2.7em;
    background-color: rgba(@light, 0.5);
    border-radius: 0.5em;
    border: 0.1em solid @company-color;
    z-index: 20;

    @media(min-width: @lg-width) {
      display: none;
    }
  }

  &__toggle > span {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: 70%;
    height: 0.2rem;
    background: @company-color;
    border-radius: 0.15rem;
    transition: background .3s .5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background: @company-color;
      border-radius: 0.15rem;
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }

    &::before {
      top: 0.8rem;
    }

    &::after {
      top: -0.8rem;
    }
  }

  &__toggle--close > span {
    transition: background .3s 0;
    background: transparent;

    &::before,
    &::after {
      transition: top .3s, transform .3s .5s;
      top: 0;
    }

    &::before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
