.price {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  & select {
    @media (min-width: @lg-width) {
      display: none;
    }
  }

  & ul.price__filter {
    display: none;

    @media (min-width: @lg-width) {
      .list();
      display: flex;
      flex-wrap: wrap;
    }

    & > li {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    & > li > a {
      display: inline-block;
      .text-button();
      padding: 1.6rem;
      color: @gray;
      cursor: pointer;

      &.selected {
        color: @main-color;
      }
    }
  }

  &__tabs-content {
    width: 90vw;
    order: 10;
    max-height: 0;
    transition: all 0.5s ease-out;
    overflow: hidden;

    @media(min-width: @lg-width) {
      width: auto;
      max-height: 0;
      max-width: 0;
      order: unset;
    }
  }

  &__tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    @media(min-width: @lg-width) {
      flex-wrap: nowrap;
    }

    & input {
      display: none;
    }


    & label {
      .text-title();
      color: @gray;
      text-transform: uppercase;
      transition: @transition;
      margin-right: 20px;
      margin-bottom: 10px;
      cursor: pointer;

      @media(min-width: @lg-width) {
        font-size: 1.8rem;
        background-color: @light;
        .shadow();
        border-radius: 0px 5px 0px 0px;
        text-align: right;
        writing-mode: tb-rl;
        transform:rotate(180deg);
        padding: 15px;
        margin-bottom: 0;
      }

      @media(min-width: @xl-width) {
        font-size: 3.6rem;
      }

      /* изменения стиля заголовков вкладок при наведении */
      &:hover,
      &:focus,
      &:active {
        color: @main-color;
      }
    }

    /* стили для активной вкладки */
    & input:checked + label {
      color: @main-color;
      cursor: default;

      @media(min-width: @lg-width) {
        margin-right: 0;
        background-color: @light;
      }
    }

    /* активация секций с помощью переключателя :checked */
    #сrowns:checked ~ .price__tabs-content#сrowns,
    #prostheses:checked ~ .price__tabs-content#prostheses,
    #tabs:checked ~ .price__tabs-content#tabs,
    #veneers:checked ~ .price__tabs-content#veneers,
    #ceramet:checked ~ .price__tabs-content#ceramet,
    #work:checked ~ .price__tabs-content#work {
      max-height: 100vh;
      transition: all 0.5s ease-in;

      @media(min-width: @lg-width) {
        background-color: @light;
        .shadow();
        border-radius: 0px 5px 0px 0px;
        flex-grow: 1;
        max-width: 1000px;
        max-height: unset;
        padding: 20px;
        margin-right: 20px;
      }
    }
  }

  &__folder-heading a {
    position: relative;
    display: flex;
    .text-title(2rem);
    color: @main-color;
    padding: 0.3em 0 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(135deg);
      content: "";
      width: 7px;
      height: 7px;
      border-top: 1px solid;
      border-right: 1px solid;
      border-color: @dark;
      transition: @transition;
    }
  }

  &__folder-heading--in a {
    &::before {
      border-color: @main-color;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__folder-content {
    display: none;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    .text-medium(1.4rem);

    @media(min-width: @lg-width) {
      font-size: 1.4rem;
    }
  }

  &__table-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid @gray;
  }

  &__table-service {
    width: 70%;
  }

  &__table-value {
    width: 25%;
    text-align: right;
  }
}














