.article {
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: @md-width) {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 30px;
      grid-template-areas:
        "title img"
        "text img"
        "text list"
        "text .";
    }

    @media (min-width: @lg-width) {
      column-gap: 120px;
    }
  }

  &__text {
    & ol {
      .list();
      counter-reset: li;

      & > li {
        margin-bottom: 15px;


        &::before {
          content: counter(li)'. ';
          counter-increment: li;
          font-weight: 700;
        }
      }

      & ul,
      & ol {
        margin-top: 10px;
        margin-bottom: 25px;

        @media (min-width: @md-width) {
          margin-top: 20px;
          margin-bottom: 50px;
        }
      }

      & ol {
        & > li {
          &::before {
            font-weight: 300;
          }
        }
      }
    }

    & ul {
      .list();

      & > li {
        position: relative;
        padding-left: 60px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 30px;
          height: 2px;
          background-color: @main-color;

          @media (min-width: @lg-width) {
            top: 11px;
          }
        }
      }
    }
  }

  &__subtitle {
    @media (min-width: @md-width) {
      grid-area: title;
    }
  }

  &__img {
    @media (min-width: @md-width) {
      grid-area: img;
      width: calc(50vw - 15px);
    }

    @media (min-width: @lg-width) {
      width: calc(50vw - 115px);
      max-width: calc(500px - 15px);
    }
  }

  &__text {
    @media (min-width: @md-width) {
      grid-area: text;
    }
  }

  & .articles {
    @media (min-width: @md-width) {
      grid-area: list;
      width: calc(50vw - 15px);
    }

    @media (min-width: @lg-width) {
      width: calc(50vw - 115px);
      max-width: calc(500px - 15px);

      &__list {
        column-count: unset;
        column-gap: unset;
      }

    }
  }
}

.page__content.article {
  padding-top: 0;
}
