.slide {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: 50%;
  }

  &__img-wrap {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content-wrap {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .container();
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    .title-font(5rem);
    color: @dark-grey;
  }
}
