.main-slider .slide {
  position: relative;
  width: 100%;
  max-height: 700px;

  &::before {
    content: "";
    display: block;
    padding-top: 85%;

    @media(min-width: @md-width) {
      padding-top: 50%;
    }
  }

  &__img-wrap {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 50%;

    @media(min-width: @md-width) {
      object-position: center;
    }
  }

  &__content-wrap {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .container();
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 215px;

    @media(min-width: @md-width) {
      width: 60%;
    }

    @media(min-width: @lg-width) {
      height: 310px;
      max-height: unset;
    }
  }

  &__title {
    .mp();
    .h3(2.5rem);
    color: @dark-grey;
    margin-bottom: auto;
    margin-right: 80px;

    @media(min-width: @md-width) {
      font-size: 3.6rem;

    }

    @media(min-width: @lg-width) {
      font-size: 5rem;
      margin-bottom: 1.2em;
    }
  }

  &__btn {
    font-size: 1.4rem;

    &--appointment {
      margin-bottom: 12px;

      @media(min-width: @md-width) {
        margin-bottom: 25px;
      }
    }

    & + .btn--color {
      padding-top: calc(1rem + 1px);
      padding-right: calc(1.5rem + 1px);
      padding-bottom: calc(1rem + 1px);
      padding-left: calc(1.5rem + 1px);
    }
  }
}
