@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Rubik Light"),
  local("Rubik-Light"),
  url("../fonts/Rubik-Light.woff2") format("woff2"),
  url("../fonts/Rubik-Light.woff") format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "BerlingskeSansCn-Bold";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: local("BerlingskeSansCn BoldItalic"),
        local("BerlingskeSansCn-BoldItalic"),
        url("../fonts/berlingskesanscn-bolditalic.woff2") format("woff2"),
        url("../fonts/berlingskesanscn-bolditalic.woff") format("woff");
}












@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"),
  local("Roboto-Regular"),
  url("../fonts/Roboto-Regular-subset.woff2") format("woff2"),
  url("../fonts/Roboto-Regular-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light Italic"),
  local("Roboto-LightItalic"),
  url("../fonts/Roboto-Light-Italic.woff2") format("woff2"),
  url("../fonts/Roboto-Light-Italic.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Slab Light"),
  local("RobotoSlab-Light"),
  url("../fonts/RobotoSlab-Light-subset.woff2") format("woff2"),
  url("../fonts/RobotoSlab-Light-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Slab Regular"),
  local("RobotoSlab-Regular"),
  url("../fonts/RobotoSlab-Regular-subset.woff2") format("woff2"),
  url("../fonts/RobotoSlab-Regular-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
  local("RobotoCondensed-Regular"),
  url("../fonts/RobotoCondensed-Regular-subset.woff2") format("woff2"),
  url("../fonts/RobotoCondensed-Regular-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"),
  local("PTSans-Regular"),
  url("../fonts/PT_Sans-Web-Regular-subset.woff2") format("woff2"),
  url("../fonts/PT_Sans-Web-Regular-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans Italic"),
  local("PTSans-Italic"),
  url("../fonts/PT_Sans-Web-Italic-subset.woff2") format("woff2"),
  url("../fonts/PT_Sans-Web-Italic-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"),
  local("PTSans-Bold"),
  url("../fonts/PT_Sans-Web-Bold-subset.woff2") format("woff2"),
  url("../fonts/PT_Sans-Web-Bold-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}

@font-face {
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Myriad Pro Regular"),
  local("Myriad-Pro"),
  url("../fonts/MyriadPro-Regular-subset.woff2") format("woff2"),
  url("../fonts/MyriadPro-Regular-subset.woff") format("woff");
  unicode-range: U+A,U+20-22,U+25,U+28-3A,U+3D-45,U+48,U+49,U+4C-50,U+52-56,U+58,U+59,U+5F,U+61-69,U+6B,U+6D-70,U+72-74,U+76,U+AB,U+BB,U+401,U+410-44F,U+451,U+2014;
}
