.h3 (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 700; @normal-font-family: "BerlingskeSansCn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: italic;
}

.text-light (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 300; @normal-font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.text-medium (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 500; @normal-font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.text-block (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 400; @normal-font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.text-tiny (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 400; @normal-font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.text-sub (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 300; @normal-font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.text-button (@normal-font-size: 1.4rem; @normal-font-height: 1.25; @normal-font-weight: 700; @normal-font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif) {
  font-size: @normal-font-size;
  line-height: @normal-font-height;
  font-weight: @normal-font-weight;
  font-family: @normal-font-family;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: @xl-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

.mp(@list-margin: 0; @list-padding: 0;) {
  margin: @list-margin;
  padding: @list-padding;
}

.list(@list-margin: 0; @list-padding: 0; @list-style: none) {
  margin: @list-margin;
  padding: @list-padding;
  list-style: @list-style;
}

.center-margin(@margin-c: 0 auto;) {
  margin: @margin-c;
}

.retina2-bg (@bg-img: url(""); @bs-width: auto; @bs-height: auto; @dppx: 2) {
  @media (min-resolution: unit((96 * (@dppx - 0.98) ),dpi)), (min-resolution: unit((@dppx - 0.98),dppx)) {
    background-image: @bg-img;
    background-size: @bs-width @bs-height;
  }
}

.retina3-bg (@bg-img: url(""); @bs-width: auto; @bs-height: auto; @dppx: 3) {
  @media (min-resolution: unit((96 * (@dppx - 0.98) ),dpi)), (min-resolution: unit((@dppx - 0.98),dppx)) {
    background-image: @bg-img;
    background-size: @bs-width @bs-height;
  }
}

.btn-reset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
