html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: @sm-width;
  .mp();
  .text-light();
  color: @secondary;
  background-color: @light;
  overflow: inherit!important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: @transition;

  &:hover,
  &:focus,
  &:active {
    color: @main-color;
  }
}

p,
h1,
h2,
h3 {
  .mp();
}

h1,
h2,
h3 {
  margin-bottom: 0.83em;
}

p {
  margin-bottom: 1em;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
