//primary colors
@company-color-light: #cf2023;
@company-color-dark: #b10005;
@text-main: #323232;
@text-light: #323131;
@text-bread-crumbs: #bbbbbb;
@text-copyright: #565656;
@text-very-light: #e5e5e5;
@copyright__link: #5daadf;
@simple-bg-button: #ececec;
@table-background: #e7e7e7;
@border-image: #d0d0d0;
@border-image--active: #828282;
@dark: #000000;
@light: #ffffff;
@error: #45000c;
@privacy: #656565;

//indents
@wrapper-m: 4.79vw;

//breakpoints
@tablet-width: 750px;
@desktop-width: 1200px;

//To limit adaptivity
@mobile-content-width: 290px;
@tablet-content-width: 720px;
@desktop-content-width: 1120px;
