.form {

}

.consultation .form {
  padding-left: 25px;
  padding-right: 25px;

  &__text {
    .text-light();
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  & label {
    .text-medium();
  }
}
