.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &__title {
    .h2();
    width: 100%;
    flex-grow: 1;
  }

  &__text {
    margin-bottom: 10px;
    width: 100%;
    flex-grow: 1;
  }

  &__wrap {
    width: 100%;
    flex-grow: 1;
  }

  &__field {
    display: flex;
    flex-direction: column;
    .mp();
    margin-bottom: 20px;
    width: 250px;
    flex-grow: 1;
    margin-right: 20px;
  }

  & label {
    .text-medium();
    margin-bottom: 10px;
    order: 1;
  }

  & input[type="text"],
  & input[type="tel"],
  & input[type="email"] {
    display: flex;
    justify-content: center;
    align-items: center;
    .text-small();
    padding: 1.6rem 3rem;
    border-radius: 5px;
    border: 1px solid #B1B2B3;
    order: 2;
    transition: @transition;

    &:hover,
    &:focus,
    &:active {
      border-color: @main-color;
    }

    @media(min-width: @lg-width) {
      height: 50px;
    }
  }

  &__btn {
    width: 250px;
    flex-grow: 1;
    margin-right: 20px;
    margin-bottom: 20px;

    @media(min-width: @lg-width) {
      height: 50px;
    }
  }

  &__privacy-policy {
    position: relative;
    opacity: 0.5;
    .text-small();
    padding-left: 25px;
    width: 250px;
    flex-grow: 1;
    margin-right: 20px;
    margin-bottom: 20px;
    align-self: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.main-consultation .form {
  @media(min-width: @lg-width) {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 60px 0 30px;
  }

  &__title {
    @media(min-width: @lg-width) {
      width: 30vw;
      max-width: 345px;
      margin-right: 30px;
    }
  }

  &__text {
    @media(min-width: @lg-width) {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: -20px;

    @media(min-width: @lg-width) {
      flex-grow: 1;
      width: 60vw;
    }
  }

  & input[type="text"],
  & input[type="tel"] {
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
  }

  &__privacy-policy {
    &::before {
      background-image: url("../img/form/check-mark-light.svg");
    }
  }
}

.collaboration__form-wrap .form {
  @media(min-width: @lg-width) {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 60px 0 30px;
  }

  &__title {
    @media(min-width: @lg-width) {
      width: 30vw;
      max-width: 345px;
      margin-right: 30px;
    }
  }

  &__text {
    @media(min-width: @lg-width) {
      display: none;
    }
  }

  &__wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 20px;

    @media(min-width: @lg-width) {
      flex-grow: 1;
      width: 60vw;
      max-width: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "name phone"
        "email submit"
        "privacy-policy privacy-policy";
      grid-gap: 20px;
      align-items: flex-end;
    }

    @media(min-width: @xl-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "name phone email"
        "privacy-policy privacy-policy submit";
    }
  }

  &__field {
    margin: 0;
    width: 100%;

    &--name {
      @media(min-width: @lg-width) {
        grid-area: name;
      }
    }

    &--phone {
      @media(min-width: @lg-width) {
        grid-area: phone;
      }
    }

    &--email {
      @media(min-width: @lg-width) {
        grid-area: email;
      }
    }
  }

  &__btn {
    margin: 0;
    width: 100%;

    @media(min-width: @lg-width) {
      grid-area: submit;
    }
  }

  & input[type="text"],
  & input[type="tel"],
  & input[type="email"] {
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
    }
  }

  &__privacy-policy {
    margin: 0;
    width: 100%;

    &::before {
      top: 50%;
      background-image: url("../img/form/check-mark-light.svg");
    }

    @media(min-width: @lg-width) {
      grid-area: privacy-policy;
    }

    @media(min-width: @xl-width) {
      align-self: center;
    }
  }
}

.consultation .form {
  background-color: @light;
  .shadow();
  padding: 20px;
  border-radius: 5px;


  @media(min-width: @md-width) {
    padding: 50px 40px;
    margin-left: auto;
    width: calc(50vw - 15px);
    transform: translateY(-35px);
  }

  @media (min-width: @lg-width) {
    width: 600px;
    max-width: unset;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: -20px;
  }

  &__privacy-policy {
    &::before {
      background-image: url("../img/form/check-mark-dark.svg");
    }
  }
}

.modal .form {
  margin-right: -20px;
  color: @secondary;

  &__title {
    margin-right: 55px;
  }

  & input[type="text"],
  & input[type="tel"] {
    &:hover,
    &:focus,
    &:active {
      outline: none;
      border-color: @main-color;
    }
  }

  &__privacy-policy {
    &::before {
      background-image: url("../img/form/check-mark-gray.svg");
    }
  }
}
