.about-menu {
  @media (min-width: @lg-width) {
    display: flex;
  }
  &__branch-list {
    .list();
    margin-bottom: 15px;

    @media (min-width: @lg-width) {
      display: flex;
      position: relative;
      margin-bottom: 0;
      padding-right: 60px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background-color: rgba(@gray, 0.6);
      }
    }
  }

  &__branch-item {
    @media (min-width: @lg-width) {
      margin-right: 120px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__branch-link {
    display: inline-block;
    .h3(1.6rem);
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
    transition: @transition;

    @media (min-width: @lg-width) {
      font-size: 2.4rem;
    }
  }

  &__branch-img-box {
    display: none;

    @media (min-width: @lg-width) {
      display: block;
      position: relative;
      width: 280px;
      padding-top: 230px;
      margin-top: 15px;
    }
  }

  &__branch-img-content {
    @media (min-width: @lg-width) {
      .mp();
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__branch-img-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: @transition;
  }

  &__branch-btn {
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
  }

  &__branch-link {
    &:hover,
    &:focus,
    &:active {
      color: @main-color;

      & .about-menu__branch-img-content > img {
        transform: scale(1.1);
      }
    }
  }

  &__other-list {
    .list();

    @media (min-width: @lg-width) {
      padding-left: 60px;
    }
  }

  &__other-item {

  }

  &__other-item a {
    display: inline-block;
    padding: 5px 0;
  }
}
