.main-slider {
  width: 100%;

  &__list {
    position: relative;
    .list();
  }
}

.main-slider .owl-theme  {
  & .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
