.special-offers__list .special-offer {
  padding: 30px 23px 35px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;

  @media (min-width: @md-width) {
    background-position: center center;
    justify-content: flex-start;
  }

  @media (min-width: @lg-width) {
    padding: 50px;
  }

  &--implantation {
    background-image: url("../img/special-offer/implantation.jpeg");
  }

  &--hygiene {
    background-image: url("../img/special-offer/hygiene.jpeg");
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: @md-width) {
      width: 50%;
      align-items: flex-start;
    }

    @media (min-width: @lg-width) {
      width: 500px;
    }
  }

  &__type {
    .mp();
    .text-button(1.4rem);
    text-transform: uppercase;
    padding: 13px 35px;
    background-color: rgba(@light, 0.5);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: @lg-width) {
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    .mp();
    .h3(2rem);
    margin-bottom: 25px;

    @media (min-width: @lg-width) {
      font-size: 3rem;
      margin-bottom: 30px;
      margin-right: 180px;
    }
  }

  &__text {
    .mp();
    .text-light();
    margin-bottom: 20px;

    @media (min-width: @lg-width) {
      margin-right: 15px;
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
  }

  &__btn-wrap {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;

    @media (min-width: @lg-width) {
      flex-direction: row;
    }
  }

  &__btn {
    margin-bottom: 15px;

    @media (min-width: @lg-width) {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__note {
    .mp();
    .text-light();
    font-size: 1.2rem;
    color: @dark-grey;

    @media (min-width: @lg-width) {
      font-size: 1.5rem;
    }
  }

}

.page__content.special-offer {
  @media (min-width: @md-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @lg-width) {
    padding-top: 75px;
    padding-bottom: 65px;
  }

  & .page__slogan,
  & .page__subtitle {
    @media (min-width: @md-width) {
      width: calc(100vw - 30px);
      flex-grow: 1;
    }
  }

  & .special-offer {
    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      @media (min-width: @md-width) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      @media (min-width: @lg-width) {
        margin-bottom: 80px;
      }
    }

    &__text {
      .text-light(1.4rem);

      @media (min-width: @md-width) {
        width: 50%;
        flex-grow: 1;
        margin-bottom: 0;
      }

      @media (min-width: @lg-width) {
        font-size: 1.8rem;
        margin-bottom: 80px;
      }

      & p {
        .mp();
        margin-bottom: 0.5em;
      }
    }

    &__note {
      display: block;
      .text-small(1.2rem);
      color: @gray;
      margin-top: 1em;

      @media (min-width: @lg-width) {
        font-size: 1.4rem;
      }
    }

    &__btn {


      &--appointment {
        display: flex;
        width: 100%;
        max-width: 290px;
        .center-margin();
        margin-top: 25px;


        @media (min-width: @md-width) {
          width: 236px;
          .mp();
          margin-left: 60px;
        }

        & .btn__icon {
          @media (min-width: @md-width) {
            display: none;
          }
        }
      }
    }

    &__img-box {
      display: block;
      position: relative;
      width: 100%;
      padding-top: 118%;
      margin-bottom: 30px;

      @media (min-width: @md-width) {
        margin-bottom: 0;
      }
    }

    &__img-content {
      .mp();
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      border-radius: 5px;
      border: 0.5px solid @gray;
    }

    &__img-content img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
