.page {
  &__wrap {
    .container();
  }

  &__slogan {
    .mp();
    .text-sub(1.2rem);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media (min-width: @lg-width) {
      font-size: 1.4rem;
    }
  }

  &__subtitle {
    .mp();
    .h3(2rem);
    margin-bottom: 20px;

    @media (min-width: @lg-width) {
      font-size: 3rem;
    }
  }
}

.main-about .page {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: @md-width) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 35px;
      grid-template-areas:
        "slogan slogan"
        "subtitle subtitle"
        "img text-content";
    }

    @media (min-width: @lg-width) {
      grid-template-columns: 480px auto;
      grid-column-gap: 80px;
    }
  }

  &__slogan {
    @media (min-width: @md-width) {
      grid-area: slogan;
    }
  }

  &__subtitle {
    @media (min-width: @lg-width) {
      grid-area: subtitle;
    }
  }
}

.specialists .page {
  &__wrap {
    @media (min-width: @lg-width) {
      padding: 0;
    }
  }
}

.page .owl-theme  {
  & .owl-dots {
    & .owl-dot span {
      background: @gray;
      transition: @transition;
    }

    & .owl-dot.active span,
    & .owl-dot:hover span {
      background-color: @main-color;
    }

    & .owl-dot.active span {
      width: 20px;
      height: 10px;
    }
  }
}
