.page {
  &__wrap {
    .container();
  }

  &__text-sub {
    .text-sub();
  }

  &__title {
    .h1();
    color: @main-color;
  }

  &__subtitle {
    .h2();
  }

  &__note {
    .text-small();
  }

  &__btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__btn-wrap .btn {
    margin-bottom: 20px;
    padding: 1.6rem;

    &--color {
      padding: calc(1.6rem + 1px);
    }
  }
}

.page--inner {
  .page {
    &__banner-wrap {
      display: block;
      position: relative;
      width: 100%;
      padding-top: 34%;

      @media (min-width: @lg-width) {
        padding-top: 500px;
      }
    }

    &__banner {
      .mp();
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }

    &__banner img {
      width: 100%;
      height: 100%;
      max-height: 687px;
      object-fit: cover;
      object-position: top center;
    }

    &__back-link-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: @light;
      border-radius: 0px 5px 0px 0px;
      overflow: hidden;

      @media (min-width: @md-width) {
        display: none;
      }
    }

    &__back-link {
      display: inline-block;
      position: relative;
      padding: 7px 25px 7px 34px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%) rotate(-135deg);
        width: 5px;
        height: 5px;
        border-top: 1px solid;
        border-right: 1px solid;
        border-color: inherit;
      }
    }

    &__header {
      position: relative;
      width: 100%;

      @media (min-width: @md-width) {
        background-color: @light;
        border-radius: 0px 5px 0px 0px;
        width: 50vw;
        margin-top: -100px;
        min-height: 125px;
      }

      @media (min-width: @lg-width) {
        width: calc(50vw - 100px);
        margin-top: -200px;
        min-height: 225px;
      }
    }

    &__header-wrap {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;

      @media (min-width: @md-width) {
        max-width: 500px;
        margin-left: auto;
        padding-top: 25px;
        padding-bottom: 0;
      }
    }

    &__breadcrumbs {
      display: none;

      @media (min-width: @md-width) {
        .list();
        display: flex;
        flex-wrap: wrap;
        .text-small();
        margin-bottom: 25px;

        & > li {
          position: relative;
          color: inherit;
          padding-right: 15px;
          margin-right: 15px;

          &::before {
            position: absolute;
            top: 55%;
            right: 0;
            transform: translateY(-50%) rotate(45deg);
            content: "";
            width: 5px;
            height: 5px;
            border-top: 1px solid;
            border-right: 1px solid;
            border-color: inherit;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;

            &::before {
              display: none;
            }
          }
        }
      }
    }

    &__content {
      position: relative;
      padding-bottom: 45px;

      @media (min-width: @md-width) {
        padding-top: 60px;
        padding-bottom: 95px;
      }
    }

    &__wrap .btn--appointment {
      display: flex;
      .center-margin();
      width: 100%;

      @media (min-width: @md-width) {
        position: absolute;
        top: 0;
        right: 15px;
        width: auto;
        transform: translateY(-100%);
      }
    }

    &__wrap {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;

      @media (min-width: @lg-width) {
        padding-top: 25px;
        padding-bottom: 25px;
      }

      &--btn-appointment {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__wrap--columns {
      display: flex;
      flex-wrap: wrap;

      & .page__text-sub,
      & .page__subtitle {
        width: 100%;
      }
    }

    &__column {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: @md-width) {
        margin-bottom: 0;
      }

      &--fix {
        display: flex;
        flex-direction: column;
        @media (min-width: @md-width) {
          width: calc(50vw - 15px);
        }

        @media (min-width: @lg-width) {
          width: calc(50vw - 115px);
          max-width: calc(500px - 15px);
        }
      }

      &--stretch {
        @media (min-width: @md-width) {
          width: 45%;
          flex-grow: 1;
        }
      }

      &--margin-left {
        @media (min-width: @md-width) {
          margin-right: 30px;
        }

        @media (min-width: @lg-width) {
          margin-right: 120px;
        }
      }
    }

    &__img-box {
      display: block;
      position: relative;
      width: 100%;
      padding-top: 118%;

      @media (min-width: @md-width) {
        margin-bottom: 0;
      }
    }

    &__img-content {
      .mp();
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      border-radius: 5px;
    }

    &__img-content img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }


  }
}

.main-about .page {
  &__wrap {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: @md-width) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 35px;
      grid-template-areas:
        "slogan slogan"
        "subtitle subtitle"
        "img text-content";
    }

    @media (min-width: @lg-width) {
      grid-template-columns: 480px auto;
      grid-column-gap: 80px;
    }
  }

  &__text-sub {
    @media (min-width: @md-width) {
      grid-area: slogan;
    }
  }

  &__subtitle {
    @media (min-width: @lg-width) {
      grid-area: subtitle;
    }
  }
}
.main-footer .page {
  &__wrap {
    overflow: hidden;
    @media (min-width: @lg-width) {
      column-count: 4;
    }
  }
}

.page .owl-theme  {
  & .owl-dots {
    & .owl-dot span {
      background: @gray;
      transition: @transition;
    }

    & .owl-dot.active span,
    & .owl-dot:hover span {
      background-color: @main-color;
    }

    & .owl-dot.active span {
      width: 20px;
      height: 10px;
    }
  }
}

.page .modal {
  border-radius: 10px;
  padding: 20px;
  max-width: 580px;

  & a.close-modal {
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background 0.5s ease;
    background-image: url("../img/modal/close-gray.svg");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../img/modal/close-color.svg");
    }
  }
}

.page .modal-open {
  overflow: inherit;
}

.page .blocker {
  z-index: 100;
}
