.main-nav .site-nav {
  grid-area: menu;
  margin-right: 30px;

  @media (min-width: @lg-width) {
    grid-area: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
    margin-right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.4);
    .blur();
  }


  &__menu {
    .list();
    color: @dark;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: @lg-width) {
      .container();
    }
  }

  &__menu-item {
    flex-grow: 1;
    margin-right: 20px;
    margin-bottom: 10px;

    @media (min-width: @lg-width) {
      flex-grow: unset;
      margin-right: 20px;
      margin-bottom: 0;
    }

    & > a {
      display: inline-block;
      padding: 10px 15px;
      min-width: 60px;
      background-color: transparent;

      @media (min-width: @lg-width) {
        padding: 20px 30px;
      }

      &:hover,
      &:focus,
      &:active {
        @media (min-width: @lg-width) {
          background-color: @light;
        }
      }
    }

    &--from-submenu {
      & > a {
        position: relative;
        cursor: default;

        @media (min-width: @lg-width) {
          padding-right: 45px;
        }

        &::before {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(45deg);
          content: "";
          width: 7px;
          height: 7px;
          border-top: 1px solid;
          border-right: 1px solid;
          border-color: @dark;
          transition: @transition;

          @media (min-width: @lg-width) {
            top: 47%;
            right: 20px;
          }
        }

        &:hover,
        &:focus,
        &:active {
          &::before {
            border-color: @main-color;

            @media (min-width: @lg-width) {
              transform: translateY(-50%) rotate(135deg);
            }
          }
        }
      }
    }
  }

  &__submenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 315px;
    padding: 25px 15px;
    background-color: @light;
    transform: translateX(100vw);
    transition: top .3s .6s, transform .3s;
    z-index: 10;
    .shadow();

    @media (min-width: @lg-width) {
      .mp();
      min-height: unset;
      visibility: hidden;
      opacity: 0;
      transform: translateX(0);
      position: absolute;
      top: 62px;
      z-index: -1;
    }

    &--opened {
      transform: translateX(0);
    }
  }

  &__submenu-back-link {
    position: relative;
    display: inline-block;
    position: relative;
    color: @dark;
    padding: 10px 15px;

    @media (min-width: @lg-width) {
      display: none;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-60%) rotate(-45deg);
      content: "";
      width: 7px;
      height: 7px;
      border-top: 2px solid;
      border-left: 2px solid;
      border-color: @dark;
      transition: @transition;
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        border-color: @main-color;
      }
    }
  }

  &__submenu-content {
    @media (min-width: @lg-width) {
      .container();
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }

  &__menu-item--from-submenu {
    @media (min-width: @lg-width) {
      &:hover {
        & > .site-nav__submenu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.main-footer .site-nav {
  & a {
    display: inline-block;
  }

  &__menu {
    .list();
  }

  &__menu-item {
    margin-bottom: 50px;

    & > a {
      .text-medium();
      margin-bottom: 10px;
    }
  }

  &__submenu {
    .list();
  }

  &__submenu-item {
    & > a {
      margin-bottom: 10px;
    }
  }
}
