.site-nav {
  grid-area: menu;
  margin-right: 30px;

  &__menu {
    .list();
    .text-font(1.4rem);
    color: @dark;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__menu-item {
    width: 100px;
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 10px;

    & > a {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      color: inherit;
      transition: @transition;

      &:hover,
      &:focus,
      &:active {
        color: @company-color;
      }
    }
  }
}
