.main-header {
  width: 100%;
  height: 90px;
  background: url("../img/main-header/lines-main.svg") no-repeat right top -5vw;
  background-size: 130vw;
  padding-top: 25px;

  @media (min-width: @md-width) {
    background-position: right top -6vw;
  }

  @media (min-width: @lg-width) {
    position: relative;
    height: auto;
  }

  &__wrap {
    padding-right: 30px;

    @media (min-width: @lg-width) {
      .container();
      padding-top: 20px;
      padding-bottom: 35px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title-list {
    .list();
    display: flex;
    .container();
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: @md-width) {
      justify-content: center;
    }

    @media (min-width: @lg-width) {
      .mp();
      max-width: none;
      align-self: flex-end;
      margin-bottom: 12px;
    }
  }

  &__title-item {
    position: relative;
    padding-left: 30px;
    margin-right: 10px;

    @media (min-width: @md-width) {
      margin-right: 30px
    }


    @media (min-width: @lg-width) {
      position: relative;
      margin-right: 30px;
      padding-left: 45px;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 50%;
      left: 0;
      background-size: contain;
      transform: translateY(-50%);

      @media (min-width: @lg-width) {
        width: 32px;
        height: 32px;
        top: 0;
        transform: none;
      }
    }

    &--stomat {
      &::before {
        background: url("../img/main-header/logo-stomat.png") no-repeat center;
      }
    }

    &--medcentr {
      &::before {
        background: url("../img/main-header/logo-medcentr.png") no-repeat center;
      }
    }
  }

  &__title {
    .h3();
    margin-bottom: 0;

    @media (min-width: @lg-width) {
      margin-bottom: 5px;
    }

    & > span {
      display: none;

      @media (min-width: @lg-width) {
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .text-tiny();
        color: @main-color;
        transform: translateY(100%);
      }
    }
  }
}
