.btn {
  .btn-reset();
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 1px solid;
  border-radius: 5px;
  .text-button();
  text-transform: uppercase;
  transition: @transition;

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    transition: @transition;
  }

  &--main {
    position: relative;
    .main-gradient();
    .shadow-red();
    border: none;
    padding-top: calc(1.6rem + 1px);
    padding-right: calc(3rem + 1px);
    padding-bottom: calc(1.6rem + 1px);
    padding-left: calc(3rem + 1px);
    color: @light;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 5px;
      background: @main-color;
      transition: opacity @transition linear;
      opacity: 0;
      z-index: -1;
    }

    &:hover,
    &:focus {
      color: @light;
      &::before {
        opacity: 1;
      }
    }

    &:active {
      color: @light;
      &::before {
        background: @main-dark-color;
      }
    }

    & .btn__icon {
      fill: @light;
    }
  }

  &--secondary {
    border-color: @main-color;
    color: @main-color;

    &:hover,
    &:focus {
      background-color: @main-color;
      border-color: @main-color;
      color: @light;

      & .btn__icon {
        fill: @light;
      }
    }

    &:active {
      background-color: @main-dark-color;
      border-color: @main-dark-color;
      color: @light;

      & .btn__icon {
        fill: @light;
      }
    }

    & .btn__icon {
      fill: @main-color;
    }
  }

  &--additional {
    background-color: @secondary;
    border-color: @secondary;
    color: @light;

    &:hover,
    &:focus {
      background-color: @dark;
      border-color: @dark;
      color: @light;

      & .btn__icon {
        fill: @light;
      }
    }

    &:active {
      background-color: transparent;
      border-color: @secondary;
      color: @secondary;

      & .btn__icon {
        fill: @secondary;
      }
    }

    & .btn__icon {
      fill: @light;
    }
  }


}

